{% extends "settingspage/base.html" %}
{% load static %}
{% block product %}

    <div class="product-manager">
        <div class="list-product">
           
                {% for product in user.product_set.all %}
                <div id="product_{{product.id}}">
                    <div class="product">
                        <div class="right-product">
                            <div class="product-img">
                                <img src="{{product.img.url}}" alt="">
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <h3>{{product.name}}</h3>
                                </div>
                                <div class="product-type">
                                    <span>{{product.type}}</span>
                                </div>
                                <div class="product-price">
                                    <span><b>{{product.price}} Đ</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="action-product">
                            <a href="{% url 'settingspage:editProduct' product.id %}" class="edit-product">
                                <div>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </a>
                            <a class="delete-product"onclick="deleteProduct(event, {{product.id}})" >
                                <div>
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
  
        </div>
        <a href="{% url 'settingspage:addProduct'%}" class="add-product">
            <div class="container-add-product">
                <i class="fa-solid fa-circle-plus"></i>
                <h3>Add New Dish</h3>
            </div>
        </a>
    </div>
{% endblock product %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function deleteProduct(event, productId){
        var userChoice = window.confirm("Are you sure you want to delete this product?");
        if(userChoice){
            $.ajax({
                url: `/settings/product/delete/${productId}`, 
                type: 'POST',
                success: function(response) {
                    var containerPost = document.getElementById('product_' + productId);
                    if(response.success === true){
                        containerPost.remove()
                        alert("Product deleted successfully!")
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    }
</script>
{% endblock %}