{% extends "layout_homepage.html" %}
{% load static %}

{% block info_user%}
<div id="-box-nav">
    <a href="{% url 'postspage:posts' %}" id="community"><i class="fa fa-fw fa-users"></i>Discover</a>
    <div class="subnav">
        <a href="{% url 'postspage:restaurants' %}">Diners</a>
        <a href="{% url 'postspage:posts' %}">Posts</a>
    </div>
</div>

<div class="setting_icon">
    <a href="{% url 'profilepage:logoutPage' %}" class="setting">
        <div>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Log Out</span>
        </div>
    </a>
</div>
<a href="{% url 'profilepage:profilePage' acc.id%}" class="logo-user" style="width: auto;">
    <img class="img-user" src = "{{user.avatar.url}}"/>
</a>

{% endblock %}

{% block headerSearch %}
<div class="center">
    <form>
        <input type="text" placeholder="Type something..." id="headerSearch">
        <button name="btnHeaderSearch" type="button" onclick="clickHeaderSearch(event)"><i class="fa fa-search"></i></button>
    </form>
</div>
<script>
    // header search
    function clickHeaderSearch(event){
        var inputElement = document.getElementById("headerSearch");
        var searchKey = inputElement.value;

        var searchKeyElement = document.getElementById("searchKey")
        searchKeyElement.value = searchKey;

        var timKiemElement = document.getElementById("TimKiem");
        timKiemElement.scrollIntoView({ behavior: 'smooth' });
    }
</script>
{% endblock headerSearch %}

{% block slideShowTopShop %}
    {% for shop in top_shops|slice:":3" %}
    <div class="mySlides fade">
        <img src="{{shop.avatar.url}}" style="width:100%; height: 600px">
    </div>
    {% endfor %}

{% endblock slideShowTopShop %}

{% block feature %}
        {% comment %} Phần hiển thị top các cửa hàng/ dịch vụ ---------------------------------------{% endcomment %}
        <div id="top-shop">
            <h2 class="h2-header">TOP SERVICES</h2>
            <div class="tab">
                {% for shop in top_shops %}
                <button class = "tablinks {% if forloop.counter == 1 %}active{% endif %}" onclick="openCity(event, 'top{{ forloop.counter }}')">
                    <div class="number">
                        <h2>{{ forloop.counter }}</h2>
                    </div>
                    <a href="{% url 'profilepage:profilePage' shop.account.id%}">
                        <img src="{{shop.avatar.url}}" alt="logo_shop">
                    </a>
                    <div class="stars">
                        <p>{{shop.avgStar}}/5 <span><img src="{% static 'images/star.png' %}" alt=""></span></p>
                        <h2>{{shop.name}}</h2>
                    </div>
                </button>
                {% endfor %}
            </div>
            {% for shop in top_shops %}
            <div id="top{{ forloop.counter }}" class="tabcontent" {% if forloop.counter == 1 %} style="display: block;" {% endif %}>
                <img src="{{ shop.avatar.url}}" alt="">
            </div>
            {% endfor %}

        </div>
        
        {% comment %} Phần hiển thị top bài viết nổi bật-------------------------------------------- {% endcomment %}
        <div id="comment">
            <h2 class="h2-header">TOP POSTS</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="{% static 'images/prev.png' %}" alt="" width="50px">
                    </a>
                </div>
                <ul class="post-list">
                    {% for item in topPosts %}
                    <li class="item">
                        <div class="info">
                            <a href="{% url 'profilepage:profilePage' item.post.account.id%}">
                                <img src="{{item.author.avatar.url}}" alt="{{item.post.account.username}}" class="avatar">
                            </a>
                            <h2>{{item.author.name}}</h2>
                            <h3>Time: {{item.post.time}}</h3>
                            <p> 
                                {% if item.post.provider %}
                                    Is at: <a href="{% url 'profilepage:profilePage' item.post.provider.account.id%}">
                                        <strong>{{item.post.provider.name}}</strong>
                                    </a>
                                {% else %}
                                    {% if item.post.ward and item.post.district and item.post.city%}
                                        <i class="fa-solid fa-location-dot"></i>
                                            {{item.post.ward}} - {{item.post.district}} - {{item.post.city}}
                                        <div style="display: flex;justify-content: center;">({{item.post.address}})
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                        <h2 class="title"><strong>{{item.post.title}}</strong></h2>
                        <p class="content">{{item.post.content}}</p>

                        {% if item.img|length > 0 %}
                    <div class="post-photo">
                        {% for image in item.img %}
                        <img src="{{image.img.url}}" alt="Post 1" class="photo">
                        {% endfor %}
                    </div>
                    {% endif %}

                        <div class="post-actions">
                            {% if item.userLike %}
                            <button value="true" onclick="likeAction(event, {{item.post.id}})" style="background-color: #0f0;"> 
                            {% else %}
                            <button value="false" onclick="likeAction(event, {{item.post.id}})"> 
                            {% endif %}
                                <span id="{{item.post.id}}_like">{{item.post.like}} </span>
                                <i class="far fa-thumbs-up"></i> 
                            </button>
                            <button onclick="showComment(event, {{item.post.id}})">
                                {{item.post.commentNum}} 
                                <i class="far fa-comment"></i>
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="{% static 'images/next.png' %}" alt="" width="50px">
                    </a>
                </div>
            </div>
        </div>
        <script>
                function likeAction(event, postId) {
                    const button = event.currentTarget;
                    const likeElement = document.getElementById(postId + "_like");
                    const like = parseInt(likeElement.innerText, 10);   
                    let newLike = like;
                    if( button.value === "false"){
                        newLike = like + 1;
                        button.value = "true";
                        button.style.backgroundColor = '#0f0';
                    }
                    else{
                        newLike = like - 1;
                        button.value = "false";
                        button.style.backgroundColor = '#fff';
                    }
                    likeElement.innerText = newLike
        
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", `/homepage/update_likes/${postId}/`, true);
                    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhr.send(JSON.stringify({ like: newLike}));
                }
                function showComment(event, postId){

                }
        </script>
        <br>
        {% comment %} Phần tìm kiếm ----------------------------------------------------------------- {% endcomment %}
        <div id="TimKiem"></div>
        <h2 class="h2-header" id="searchhh">SEARCH</h2>
        <div id="searching">
            <div class="box-left" id="containerSearch">
                <!-- Mặc định chưa tìm kiếm là hiển thị các sản phẩm mới nhất-->
                {% for item in searchProduct %}
                <div class="post">
                    <img class="img-food" src="{{ item.img.url }}" alt="">
                    <div class="info">
                        <a href="{% url 'profilepage:profilePage' item.provider.account.id%}">
                            <img class="img-avt" src="{{ item.provider.avatar.url }}" alt="">
                        </a>
                        <div class="text">
                            <h3>{{item.name}}</h3>
                            <p>Provider: {{item.provider.name}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>

            <div class="box-right">
                <div class="searchcontent">
                    <p>Quick Search:</p>
                    <button class="btnTag" name="food" onclick="searchTag(event, 'food')">Food</button>
                    <button class="btnTag" name="drink" onclick="searchTag(event, 'drink')">Beverages</button>
                    <button class="btnTag" name="entertainment"  onclick="searchTag(event, 'entertainment')">Entertainment</button>
                    <button class="btnTag" name="service" onclick="searchTag(event, 'service')">Other</button>
                    <hr>
                </div>
                <div class="search">
                    <form action="#TimKiem">
                    <label for="choices">Filter:</label>
                    <select id="choices" name="type">
                        <option value="shop">Shop</option>
                        <option value="product">Product</option>
                        <!-- Thêm các option khác nếu cần -->
                    </select>
                    <input id="searchKey" type="text" placeholder="Type something..." name="search">
                    <!-- <button id = "filter" type="submit"><i class="fa fa-filter"></i></button> -->
                    <button name="btnSearch" id = "search" type="button" onclick="mainSearch(event)"><i class="fa fa-search"></i></button>
                    <br>
                    <div class="searchby">
                        <br>
                        <div class="form-group">
                            <label for="city">Location:</label>
                            <select class="form-select form-select-sm mb-3" id="city" name="city" aria-label=".form-select-sm">
                            <option value="all" selected>Choose your city</option>           
                            </select>
                            <br>      
                            <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm">
                            <option value="all" selected>Choose your district</option>
                            </select>
                            
                            <select class="form-select form-select-sm" id="ward" name="ward" aria-label=".form-select-sm">
                            <option value="all" selected>Choose your ward</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="t_open">Time:</label>
                            <input class="time"
                                type="time"
                                name="t_open"
                                id="t_open"
                                class="form-control"
                                value="00:00"
                            required
                            ></input>
                            {% comment %} <label for="t_closed">Thời gian đóng cửa:</label> {% endcomment %}
                            <input class="time"
                                type="time"
                                name="t_closed"
                                id="t_closed"
                                class="form-control"
                                value="23:59"
                            required
                            ></input>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/header_logged.js' %}"></script>
{% endblock feature %}
