{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
      {% if role == 'sharer'%} Registration - Sharer
      {% elif role == 'manager'%} Registration - Manager
      {%else%} Registration
      {%endif%}
    </title>
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body>

{% if role == 'sharer' %}
<div class="container">
  <header class="header">
    <h1 id="title" class="text-center"><b>Sharer Information</b></h1>
    <p id="description" class="description text-center">
      Please provide the following information!
    </p>
  </header>
  <form id="survey-form" method = "POST">
    {% csrf_token %}
    <div class="form-group">
      <label id="name-label" for="name">Your name: </label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="e.g., Nguyễn Văn A"
        required
      />
    </div>
    <div class="form-group">
      <label id="name-label" for="name">Age: </label>
      <input
        type="age"
        name="age"
        id="age"
        class="form-control"
        placeholder="e.g., 20"
        required
      />
    </div>
    <div class="form-group">
      <p>Your location: </p>
      <select class="form-select form-select-sm mb-3" id="city" name="city" aria-label=".form-select-sm">
      <option value="" selected>Choose your city</option>           
      </select>
                
      <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm">
      <option value="" selected>Choose your district</option>
      </select>
      
      <select class="form-select form-select-sm" id="ward" name="ward" aria-label=".form-select-sm">
      <option value="" selected>Choose your ward</option>
      </select>
    </div>
    <div class="form-group">
      <p>Brief Introduction: </p>
      <textarea
        id="comments"
        class="input-textarea"
        name="comment"
        placeholder="Write something about yourself"
      ></textarea>
    </div>
    
    <div class="form-group">
      <button type="submit" id="submit" class="submit-button">
        Submit
      </button>
    </div>
  </form>
</div>
{% else %}
<div class="container">
    <header class="header">
      <h1 id="title" class="text-center"><b>Manager Information</b></h1>
      <p id="description" class="description text-center">
        Please provide the following information!
      </p>
    </header>
    <form id="survey-form" method = "POST">
        {% csrf_token %}
      <div class="form-group">
        <label id="name-label" for="name">Diner/Restaurant Name: </label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Name of your diner/restaurant"
          required
        />
      </div>
      <div class="form-group">
        <label id="phone-label" for="phone">
            Phone number:
        </label>
        <input type="tel"
        name="phone"
        id="phone"
        minlength="10"
        maxlength="12"
        required
        >
      </div>
      <div class="form-group">
        <p>Diner/Restaurant's location: </p>
        <select class="form-select form-select-sm mb-3" id="city" name="city" aria-label=".form-select-sm">
          <option value="" selected>Choose your city</option>           
          </select>
                    
          <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm">
          <option value="" selected>Choose your district</option>
          </select>
          
          <select class="form-select form-select-sm" id="ward" name="ward" aria-label=".form-select-sm">
          <option value="" selected>Choose your ward</option>
          </select>
      </div>
      <div class="form-group">
        <label id="name-label" for="name">Full address: </label>
        <input
          type="text"
          name="address"
          id="address"
          class="form-control"
          placeholder="Write your diner/restaurant's full address"
          required
        />
      </div>
      <div class="form-group">
        <p>Brief Introduction: </p>
        <textarea
          id="comments"
          class="input-textarea"
          name="comment"
          placeholder="Write something about your diner/restaurant"
        ></textarea>
      </div>
  
      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>
{% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
        method: "GET", 
        responseType: "application/json", 
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
    renderCity(result.data);
    });

    function renderCity(data) {
    for (const x of data) {
        citis.options[citis.options.length] = new Option(x.Name, x.Id);
    }
    citis.onchange = function () {
        district.length = 1;
        ward.length = 1;
        if(this.value != ""){
        const result = data.filter(n => n.Id === this.value);

        for (const k of result[0].Districts) {
            district.options[district.options.length] = new Option(k.Name, k.Id);
        }
        }
    };
    district.onchange = function () {
        ward.length = 1;
        const dataCity = data.filter((n) => n.Id === citis.value);
        if (this.value != "") {
        const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

        for (const w of dataWards) {
            wards.options[wards.options.length] = new Option(w.Name, w.Id);
        }
        }
    };
    }
	</script>
</body>
</html>