{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BKFood - Settings</title>
    <link rel = "icon" href ="{% static 'images/logo.png' %}" type = "image/x-icon">
    <link rel="stylesheet" href="{% static 'header.css'%}">
    <link rel="stylesheet" href="{% static 'tabbar.css'%}">
    {% comment %} <link rel="stylesheet" href="{% static 'list.css'%}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'container.css'%}">
    <script src="https://kit.fontawesome.com/bc4d8a1311.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'footer.css'%}">
    {% block css %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <div class="header">
        <div class="left">
            <a href="{% url 'homepage:homePage' %}" class="logo">
                <img src="{% static 'images/logo.png' %}"  alt="logo">
                <div class = "description">
                    <h2>BKFood</h2>
                    <p>Dining Experience Sharing </p>
                    <p>and Recommendation Platform</p>
                </div> 
            </a>
        </div>
            
        <div class="right">
            <div id="-box-nav">
                <a href="{% url 'postspage:posts' %}" id="community"><i class="fa fa-fw fa-users"></i>Discover</a>
                <div class="subnav">
                    <a href="{% url 'postspage:restaurants' %}">Diners</a>
                    <a href="{% url 'postspage:posts' %}">Posts</a>
                </div>
            </div>
            <div class="setting_icon">
                <a href="{% url 'profilepage:logoutPage' %}" class="setting">
                    <div>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Log Out</span>
                    </div>
                </a>
            </div>
            <a href="{% url 'profilepage:profilePage' acc.id%}" class="logo-user" style="width:auto;">
                <img class="img-user" src = "{{user.avatar.url}}"/>
            </a>
            
        </div>
    </div>

    <nav>
        <a href="{% url 'profilepage:profilePage' acc.id%}"id="profile_link" >
            ← Back to profile
        </a>
        <a href="{% url 'settingspage:gerenalPage'%}">General</a>
        {% if acc.role == 'manager' %}
        <a href="{% url 'settingspage:product'%}">Menu</a>
        {% endif %}
        <a href="{% url 'settingspage:postPage'%}">Posts</a>
    </nav>
  
    {% block product %}{% endblock  %}
    {% block post %}{% endblock  %}
    {% block general %}{% endblock  %} 
    <footer class="footer">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-facebook"></ion-icon>
            </a></li>

            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="{% url 'homepage:homePage'%}">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        </ul>
        <p>&copy;2025 BKFood</p>
    </footer>
    <script src={% static 'header_logged.js' %}></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block script %}{% endblock %}
</body>
</html>