{% extends "layout_postspage.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css'%}">
{% endblock css %}

{% block title %}
<title>BKFood - Posts</title>
{% endblock title %}

{% block content %}
    <div class="posts">
        <div class="post-list">
            <ul>
                {% for item in info %}
                <li class="item">
                    <div class="info">
                        <a href="{% url 'profilepage:profilePage' item.post.account.id%}">
                            <img src="{{item.author.avatar.url}}" alt="{{item.post.account.username}}" class="avatar">
                        </a>
                        <h3><strong>{{item.author.name}}</strong></h3>
                        <h6>Time: <strong>{{item.post.time}}</strong></h6>

                        {% if item.post.provider %}
                            Is at: <a href="{% url 'profilepage:profilePage' item.post.provider.account.id%}"><strong>{{item.post.provider.name}}</strong></a>
                        {% else %}
                            {% if item.post.ward and item.post.district and item.post.city%}
                                <i class="fa-solid fa-location-dot"></i>
                                    {{item.post.ward}} - {{item.post.district}} - {{item.post.city}}
                                <div style="display: flex;justify-content: center;">({{item.post.address}})
                                </div>
                            {% endif %}
                        {% endif %}
                        </p>
                    </div>
                    <h3><strong>{{item.post.title}}</strong></h3>
                    <p style="white-space: pre-line;">{{item.post.content}}</p>

                    {% if item.img|length > 0 %}
                    <div class="post-photo">
                        {% for image in item.img %}
                        <a href="{{image.img.url}}"><img src="{{image.img.url}}" alt="Post 1" class="photo"></a>
                        
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="post-actions">
                        <!-- LIKE -->
                        {% if item.userLike %}
                        <button class="_{{item.post.id}}_btnLike" value="true" onclick="likeAction(event, {{item.post.id}})" style="background-color: #0f0;"> 
                        {% else %}
                        <button class="_{{item.post.id}}_btnLike" value="false" onclick="likeAction(event, {{item.post.id}})"> 
                        {% endif %}
                            <big class="_{{item.post.id}}_like">{{item.post.like}} </big> 
                            <i class="far fa-thumbs-up"></i>
                        </button>
                        <!-- Comment -->
                        <button onclick="showComment(event, {{ item.post.id }})"> 
                            <big class="_{{item.post.id}}_commentNum">{{item.post.commentNum}} </big> 
                            <i class="far fa-comment"></i> 
                        </button>
                    </div>

                    <div class="post-comment">
                        <img src="{{user.avatar.url}}" alt="" class="avatar">
                        <input type="text" placeholder="Comment something ..." class="comment" id="{{item.post.id}}_comment">
                        <button class="sendCmt" onclick="insertComment(event, {{item.post.id}})">Send</button>
                    </div>
                    {% comment %} ----------Comments----------- {% endcomment %}
                </li>
                {% endfor %}
            </ul>
            {% include "listComment.html" %}

            <div class="list-comment-container" id="containerPost">
                <div class="detail-post">
                  <button id="cancelButton" onclick="cancelDetailPost()" class="btn btn-secondary mt-2 float-end"><i class="fa-solid fa-xmark"></i></button>
                  <div id="showADetailPost">

                  </div>
                </div>
            </div>
        </div>

        {% comment %} -------------------------------Searching------------------------------- {% endcomment %}
        <div class="searching">
            <div class="search-container">
                <label for="search">Search for a Post: </label>
                <input type="search" id="searchPosts" name="search" placeholder="Type something to search...">
                <button onclick="search_post(event)">Search</button>
            </div>

            <div class="result-search" id = 'resultPostSearch'>

            </div>
        </div>
    </div>

    <a href="{% url 'settingspage:createPost' %}" class="add-product">
        <div class="container-add-product">
            <i class="fa-solid fa-circle-plus"></i>
            <h3>Write New Post</h3>
        </div>
    </a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/postScript.js' %}"></script>
{% endblock %}